<div ng-controller="FleetController" style="width:100%;">
	<div style=" width:80%; display:block; margin-left:auto; margin-right:auto;">
	<h2>{{fleet.name}}</h2>
	<h3 style="display:inline;">Fuel: {{fleet.fuel}} </h3>
	<button style="width:100px;" ng-click="incrementFuel()">Fill</button>
	<h5>Auto-Harvesting {{autoHarv}}/sec</h5>
	</div>
	<div style=" width:80%; margin-top:50px; display:block; margin-left:auto; margin-right:auto;">
		<uib-tabset>
		    <uib-tab style=""heading="Planet">
		    	<div style="width:65%; float:left;">
			    	<h3>Current Planet: {{planet.name}} ({{planet.sizeString}})</h3>
			    	<h4>Planet Discoverer: {{planet.discoverer}}</h4>
			    	<button style="display:inline;" ng-click="searchPlanet()">Search For New Planet</button>
					<button ng-click="neighborPlanet()">Go To Neighboring Planet</button>
					<h3>Resources</h3>
					<div style="margin-left:20px;">
						<table>
							<tbody>
				        	<tr style="padding-top:30px;padding-bottom:30px" ng-repeat="(key, resource) in resourceList">
				        			<td><h5 style="display:inline;font-weight:bold">{{key}}:</h5></td>
				        			<td><h5 style="display:inline;padding-left:10px;padding-right:10px"> {{resource.amount}}</h5></td>
				        			<td ng-if="resource.harvest">
				        			<button ng-click="incrementResource(key, resource.mod, resource.abundance)">Harvest <span style="color:green">+{{(resource.mod * resource.abundance).toFixed(2)}}</span></button>
				        			</td>
				        			<td ng-if="!resource.harvest"></td>
				        	</tr>
				    		</tbody>
				    	</table>
		    		</div>
		    	</div>
		    	<div style="width:35%; float:right;" ng-if="planet.discoverer == fleet.name">
		    		<ul ng-repeat="(key, upgrade) in upgradeIds">
			    		<div style="margin:20px"><button style="width:100%;" type="button" class="btn btn-default" ng-click="upgrade['show'] = !upgrade['show']">{{key}} upgrade</button></div>
						<div uib-collapse="upgrade['show']">

							<ul ng-repeat="obj in upgradeIds[key]">
								<div style="width:100%;" ng-if="obj.name">
									<h3>{{obj.name}}</h3>
									<h5>{{obj.desc}}</h5>
									<h3>Cost</h3>
									<ul ng-repeat="(i, v) in upgradeIds[key][obj.id].cost">
										<h5 style="margin-right:10px;">{{i}} - {{v}}</h5>
									</ul>
									<h3>Reward</h3>
									<ul ng-repeat="(i, v) in upgradeIds[key][obj.id].result">
										<h5 style="margin-right:10px;">{{i}} - {{v}}</h5>
									</ul>
									<button style="width:100%; color:green;" ng-click="buyUpgrade(obj.id)">Buy</button>
								</div>
							</ul>
						</div>
					</ul>
				</div>
			</uib-tab>
		   <uib-tab heading="Fleet">
				<ul>
			        <ul ng-repeat="(key, ship) in fleet.ships">
				    	<div style="float:left;border:1px solid black;width:24%; height:300px;padding:20px" ng-click="checkUpgrades(key)">
				    		<h3 style="float:right; margin-right:30px; color:red;">{{key+1}}</h3>
				    		<h4 class="ship-data">Ship Type: {{ship.type}}</h4>
				    		<h4 class="ship-data">Durability: {{ship.durability}}/{{ship.durability_max}}</h4>
				    		<h4 class="ship-data">Capacity: {{ship.capacity}}</h4>
						    <h4 class="ship-data">Population: {{ship.population}}/{{ship.population_max}}</h4>
						    <h4 class="ship-data">Food: {{ship.food}}</h4>

						    <h4 class="ship-data">Harvesters:</h4>
						    <ul style="padding:2px;" ng-repeat="(h_key, harvester) in ship.harvesters">
						    	<h5 style=" display:inline;">Harvester Lv. {{harvester.level}}</h5>
						    	<button style="margin-left:5px;color:green;" ng-click="levelHarvester(key,h_key)">+{{(harvester.level+1) * 50}} aluminium</button>
						    </ul>
						    <button style="margin-top:5px;color:green;" ng-click="addHarvester(key)">Buy new +{{ship.harvester_cost}} steel</button>
				    	</div>
		    		</ul>
		    		<div style="color:green;float:left;border:1px solid black; width:24%; height:300px;padding:20px">
			    		<div ng-click="buyShip()"><i style="color:green;" class="fa fa-plus fa-5x"></i></div>
			    		<h4 style="color:green;">1000 aluminium</h3>
			    		<h4 style="color:green;">2000 steel</h3>
			    		<h4 style="color:green;">855 copper</h3>
			    		<h4 style="color:green;">1000 oil</h3>
			    	</div>
			    </ul>

			</uib-tab>
	  	</uib-tabset>
  	</div>
</div>